@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900');

body {
    font-family: 'Titillium Web', sans-serif; 
}


footer {
    color: #000000;
    text-align: center;
}

.portfolio-pic {
    width: 100%;
}

.shdw {
    text-shadow: 1px 1px 2px #2b2b2b;
  }
